* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.wrap {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
}
.mini {
  width: auto;
  max-width: 230px;
  position: absolute;
  right: 35px;
  top: 5px;
}
.back-wrap {
  width: 1200px;
  height: 800px;
  position: relative;
  margin: 7% auto;
  background: #fff;
  padding: 5px;
}
.img-m {
  margin: 70px;
  text-align: center;
}
